*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 100px 0;
}
.Forgot{
    border: 2px solid rgba(0, 0, 0, 0.299);
    padding: 50px;
    border-radius: 10px;
}
.forgot-box {
    width: 350px;
    background: white;
    border: 1px solid #dbdbdb;
    padding: 30px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

input {
    width: 300px;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

button {
    width: 300px;
    padding: 10px;
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #007acc;
}

.back {
    margin-top: 15px;
    font-size: 14px;
}

.back a {
    text-decoration: none;
    color: #0095f6;
}