body {
    font-family: Arial, sans-serif;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 80px;
}

.tac {
    text-align: center;
}

.aic {
    align-items: center;
}

.d_flex {
    display: flex;
}

.login-box {
    background: white;
    border: 1px solid #dbdbdb;
    width: 350px;
    padding: 40px;
    text-align: center;
}

h1 {
    font-family: 'Billabong', cursive;
    font-size: 48px;
    margin-bottom: 30px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #dbdbdb;
    background: #fafafa;
    outline: none;
}

button {
    width: 370px;
    padding: 10px 100px;
    background: #0095f6;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
}

button:hover {
    background: #0077cc;
}

.or {
    margin: 18px 0 0;
    color: gray;
    font-size: 14px;
}

.forgot a {
    font-size: 12px;
    color: #00376b;
    margin-top: 15px;
    text-decoration: none;
}

.Facebook img {
    width: 30px;
    padding-right: 5px;
}

.Facebook a {
    text-decoration: none;
    color: #0077cc;
}

.Facebook {
    padding: 0 80px;
}

.singIn {
    background: white;
    border: 1px solid #dbdbdb;
    width: 350px;
    padding: 40px;
    margin: 40px 0 0;
    text-align: center;
}