*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
}
.signup-box {
    width: 350px;
    background: white;
    border: 1px solid #dbdbdb;
    padding: 30px;
    text-align: center;
}
.aic {
    align-items: center;
}
.tac{
    text-align: center;
}
h1 {
    font-family: 'Billabong', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}

input {
    width: 300px;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

button {
    width: 100%;
    background-color: #0095f6;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #007acc;
}

.login {
    margin-top: 15px;
    font-size: 14px;
}

.login a {
    color: #0095f6;
    text-decoration: none;
    font-weight: bold;
}
.Sign{
    margin: 100px 0;
    border: 2px solid rgba(0, 0, 0, 0.285);
    padding: 50px;
    border-radius: 10px;
}